---
layout: minimal
title: "Portfolio"
permalink: /portfolio/index.html
image: '/assets/img/series.png'
description: "Personal and professional coding projects I've worked on"
---

{% for post in site.posts %}
  {% if post.layout == 'project'  %}
  <div class="portfolio">
    <a target="_blank" href="{{ post.link }}">
      <h2>{{ post.title }}</h2>
      {% if post.subtitle == "Ruby on Rails"%}
      <div class="subtitle"><img class="platform-icon" src="../assets/img/icons/rails.png"> {{ post.subtitle }}</div>
      {% elsif post.subtitle == "Sails JS"%}
      <div class="subtitle"><img class="platform-icon" src="../assets/img/icons/sailsjs.png"> {{ post.subtitle }}</div>
      {% elsif post.subtitle == "Angular 2 + Express"%}
      <div class="subtitle"><img class="platform-icon" src="../assets/img/icons/angular-2.png"> {{ post.subtitle }}</div>
      {% elsif post.subtitle == "Django"%}
      <div class="subtitle"><img class="platform-icon" src="../assets/img/icons/django.png"> {{ post.subtitle }}</div>
      {% elsif post.subtitle == "Android"%}
      <div class="subtitle"><img class="platform-icon" src="../assets/img/icons/google_android.png"> {{ post.subtitle }}</div>
      {% elsif post.subtitle == "PHP"%}
      <div class="subtitle"><img class="platform-icon" src="../assets/img/icons/php-p.png"> {{ post.subtitle }}</div>
      {% elsif post.subtitle == "React Native" or post.subtitle == "React + Express"%}
      <div class="subtitle"><img class="platform-icon" src="../assets/img/icons/react.png"> {{ post.subtitle }}</div>
      {% else %}
      <div class="subtitle">{{ post.subtitle }}</div>
      {% endif %}
      <img class="thumbnail" src="{{ site.baseurl }}/assets/img/portfolio/{{ post.thumbnail }}"/>
    </a>
    <p>{{ post.description }}</p>
    <hr>
  </div>
  {% endif %}
{% endfor %}
