<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio</h2>
                <h3 class="section-subheading text-muted">Professional and personal web development projects Scott has worked on.</h3>
            </div>
        </div>
        <div class="row">
        {% for post in site.posts %}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive grid-img" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{ post.title }}</h4>
                    {% if post.subtitle == "Ruby on Rails"%}
                    <p class="text-muted"><img class="platform-icon" src="img/icons/ruby.png"> {{ post.subtitle }}</p>
                    {% elsif post.subtitle == "Node JS"%}
                    <p class="text-muted"><img class="platform-icon" src="img/icons/node.png"> {{ post.subtitle }}</p>
                    {% elsif post.subtitle == "Django"%}
                    <p class="text-muted"><img class="platform-icon" src="img/icons/python.png"> {{ post.subtitle }}</p>
                    {% elsif post.subtitle == "Go"%}
                    <p class="text-muted"><img class="platform-icon" src="img/icons/go.png"> {{ post.subtitle }}</p>
                    {% elsif post.subtitle == "PHP"%}
                    <p class="text-muted"><img class="platform-icon" src="img/icons/php-p.png"> {{ post.subtitle }}</p>
                    {% elsif post.subtitle == "React Native"%}
                    <p class="text-muted"><img class="platform-icon" src="img/icons/react.png"> {{ post.subtitle }}</p>
                    {% else %}
                    <p class="text-muted">{{ post.subtitle }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>