<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skill Set</h2>
                    <h3 class="section-subheading text-muted">What Scott can bring to your organization.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Front End Development</h4>
                    <p class="text-muted">Scott is familiar with the necessary tools to create a rich visual presentation layer to your organization's web applications. He has worked closely with CSS, HTML, jQuery, Photoshop, and Angular JS among other front end web development tools.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code-fork fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Server Side Code</h4>
                    <p class="text-muted">After years of experience writing server side source code, Scott has written source code on several web development stacks. He loves working on collaborative coding projects and can deliver clean, efficient code on a tight deadline schedule.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Application Deployment</h4>
                    <p class="text-muted">No matter what stack your organization's applications is built with, Scott can help get it up and running. He is very comfortable working with the command line and has deployed web applications on several platforms including Amazon AWS, Bitnami, Digital Ocean, and Heroku.</p>
                </div>
            </div>
        </div>
    </section>